{% extends 'artiste-dash.html.twig' %}

{% block title %}Concours index{% endblock %}

{% block body %}
    <h1>Concours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Refrence</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Lien</th>
                <th>Nom</th>
                <th>Nombre des participants</th>
                <th>Nombre Max des participants</th>
                <th>Nombre des votes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concour in concours %}
            <tr>
                <td>{{ concour.refrence }}</td>
                <td>{{ concour.date ? concour.date|date('Y-m-d') : '' }}</td>
                <td>{{ concour.type }}</td>
                <td>{{ concour.prix }}</td>
                <td>{{ concour.lien }}</td>
                <td>{{ concour.nom }}</td>
                <td>{{ concour.Nparticipant }}</td>
                <td>{{ concour.Maxparticipant }}</td>
                <td>{{ concour.Nvote }}</td>
                <td>
                    <a href="{{ path('app_concours_show', {'refrence': concour.refrence}) }}">show</a>
                    <a href="{{ path('app_concours_edit', {'refrence': concour.refrence}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_concours_new') }}">Create new</a>
{% endblock %}
