{% extends 'base.html.twig' %}

{% block title %}Nos Formations
{% endblock %}

{% block body %}

	<!-- Page Header Start -->
	<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
		<div class="container text-center py-5">
			<h1 class="display-4 text-white animated slideInDown mb-4">
				Nos formations
			</h1>

		</div>
	</div>
	<!-- Page Header End -->
	<!-- Service Start -->
	<div class="container-xxl py-5">
		<div class="container">
			<div class="row g-5 align-items-end mb-5">
				<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
					<div class="border-start border-5 border-primary ps-4">
						<h6 class="text-body text-uppercase mb-2">Nos formations</h6>
						<h1 class="display-6 mb-0">
							Les formations disponibles
						</h1>
					</div>
				</div>

				{# <div class="col-lg-6 text-lg-end wow fadeInUp" data-wow-delay="0.3s">
										            <a class="btn btn-primary py-3 px-5" href="">More Services</a>
										          </div> #}
			</div>
			<form action="{{ path('services') }}" method="get" class="mb-3">
				<div class="row align-items-center">
					<div class="col-auto">
						<label for="sort" class="form-label">Trier par :</label>
					</div>
					<div class="col-auto">
						<select name="sort" id="sort" class="form-select">
							<option value="name_asc" {% if sortBy == 'name_asc' %} selected {% endif %}>Nom (A-Z)</option>
							<option value="name_desc" {% if sortBy == 'name_desc' %} selected {% endif %}>Nom (Z-A)</option>
							<option value="rate" {% if sortBy == 'rate' %} selected {% endif %}>Note</option>
						</select>
					</div>
					<div class="col-auto">
						<button type="submit" class="btn btn-primary">Trier</button>
					</div>
				</div>
			</form>

			<div class="row g-4 justify-content-center">
				{% for form in formations %}
					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="service-item bg-light overflow-hidden h-100">
							{% if form.image %}
								<img src="{{ asset('uploads/' ~ form.image) }}" width="100%" height="400" alt=""/>
							{% else %}
								<span>Aucune image disponible</span>
							{% endif %}
							<div class="service-text position-relative text-center h-100 p-4">
								<h5 class="mb-3">{{ form.nom}}</h5>
								<span>
									De
									{{ form.datedebut ? form.datedebut|date('j F Y') : ''}}
									à
									{{ form.datefin ? form.datefin|date('j F Y') : ''}}</span>
								<p>
									{{ form.description|capitalize }}
								</p>
								<p>
									{% set averageRating = form.getRatingsAverage() %}
									{% for i in 1..5 %}
										{% if averageRating >= i %}
											<i class="fas fa-star text-warning"></i>
										{% elseif averageRating > i - 1 %}
											<i class="fas fa-star-half-alt text-warning"></i>
										{% else %}
											<i class="far fa-star text-warning"></i>
										{% endif %}
									{% endfor %}
								</p>
								<a class="small" href="{{ path('app_formation_details', {'id': form.id}) }}">PLUS<i class="fa fa-arrow-right ms-3"></i>
								</a>

							</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div><!-- Service End -->{% endblock %}
