{% extends 'artiste-dash.html.twig' %}

{% block title %}Dashboard artiste
{% endblock %}

{% block body %}
	<div class="page-breadcrumb">
		<div class="row">
			<div class="col-7 align-self-center">
				<h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Liste des formations</h4>
				<div class="d-flex align-items-center">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb m-0 p-0">
							<li class="breadcrumb-item">
								<a href="index.html" class="text-muted">Artiste</a>
							</li>
							<li class="breadcrumb-item text-muted active" aria-current="page">Ajouter formation</li>
						</ol>
					</nav>
				</div>
			</div>

			<div class="col-5 align-self-center">
				<div class="customize-input float-right">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Ajouter Formation
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Ajouter Formation</h4>
						
							<div class="form-body">
								{{ form_start(f, {'attr': {'enctype': 'multipart/form-data'}}) }}
								<div class="mb-3">
									{{ form_label(f.nom, "Nom formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.nom, {'attr': {'class': 'form-control','placeholder': 'Entré nom de la formation'}}) }}
									<div class="text-danger">
										{{ form_errors(f.nom) }}
									</div>
								</div>
								<div class="mb-3">
									{{ form_label(f.niveau, "Niveau formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.niveau, {'attr': {'class': 'form-control','placeholder': 'Entré niveau de la formation'}}) }}
									<div class="text-danger">
										{{ form_errors(f.niveau) }}
									</div>
								</div>
								<div class="mb-3">
									{{ form_label(f.datedebut, "Date de début:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.datedebut, {'attr': {'class': 'form-control datepicker', 'placeholder': 'Entrer la date'}}) }}
									
								</div>
								<div class="mb-3">
									{{ form_label(f.datefin, "Date de fin:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.datefin, {'attr': {'class': 'form-control datepicker', 'placeholder': 'Entrer la date'}}) }}
                                      <div class="text-danger">
										{{ form_errors(f.datefin) }}
									</div>
								</div>
								<div class="mb-3">
									{{ form_label(f.image, "Image formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.image) }}
                                    <div class="text-danger">
										{{ form_errors(f.image) }}
									</div>
								</div>
								<div class="mb-3">
									{{ form_label(f.description, "Description formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.description, {'attr': {'class': 'form-control','placeholder': 'Entrer la description'}}) }}
									<div class="text-danger">
										{{ form_errors(f.description) }}
									</div>
								</div>
								<div class="mb-3">
									{{ form_label(f.prix, "Prix formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.prix, {'attr': {'class': 'form-control','placeholder': 'Entrer le prix'}}) }}
									<div class="text-danger">
										{{ form_errors(f.prix) }}
									</div>
								</div>
								<div class="mb-3">
									{{ form_label(f.cat, "Catégorie Formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.cat, {'attr': {'class': 'form-control','placeholder': 'Sélectionner la catégorie '}}) }}
								</div>
								<div class="mb-3">
									{{ form_label(f.artiste, "Artiste Formation:", {'label_attr': {'class': 'form-label'}}) }}
									{{ form_widget(f.artiste, {'attr': {'class': 'form-control','placeholder': 'Sélectionner artiste '}}) }}
								</div>
								<!-- Add more fields as needed -->


							</div>
							<div class="form-actions">
								<div class="text-right">
									{{ form_widget(f.Ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
									<button type="reset" class="btn btn-dark">Reset</button>
								</div>
							</div>


						</div>
						{{ form_end(f) }}

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
