{% extends 'base.html.twig' %}

{% block title %}Features
{% endblock %}

{% block body %}
	<style>
		.fa-star.disabled {
			color: lightgray; /* Or any other disabled style you prefer */
			pointer-events: none; /* Prevents clicks on the stars */
		}
	</style>
	<!-- Navbar Start -->
	<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
		<a href="index.html" class="navbar-brand d-flex align-items-center">
			<img style="width:100px;height:100px" src="{{asset('img/logo.png' )}}"></img>
	</a>
	<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav ms-auto py-3 py-lg-0">
			<a href="{{path('main')}}" class="nav-item nav-link ">Home</a>
			<a href="{{path('about')}}" class="nav-item nav-link">About Us</a>
			<a href="{{path('services')}}" class="nav-item nav-link active">Nos formations</a>
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Pages</a>
				<div class="dropdown-menu bg-light m-0">
					<a href="{{path('features')}}" class="dropdown-item ">Features</a>
					<a href="{{path('appointment')}}" class="dropdown-item">Appointment</a>
					<a href="{{path('team')}}" class="dropdown-item">Our Team</a>
					<a href="{{path('testimonial')}}" class="dropdown-item">Testimonial</a>
					<a href="{{path('404page')}}" class="dropdown-item">404 Page</a>
				</div>
			</div>
			<a href="{{path('contact')}}" class="nav-item nav-link">Contact Us</a>
		</div>
	</div>
</nav>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container text-center py-5">
		<h1 class="display-4 text-white animated slideInDown mb-4">Détails formation</h1>

	</div>
</div>
<!-- Page Header End -->

<!-- Features Start -->
<div class="container-xxl py-5">
	<div class="container">


{% if app.request.query.get('payment_success') %}
    <div class="alert alert-success">
        Paiement réussi ! Merci pour votre achat.
    </div>
{% endif %}

{% if app.request.query.get('payment_failure') %}
    <div class="alert alert-danger">
        Paiement échoué. Veuillez réessayer.
    </div>
{% endif %}

		<div class="row g-5">
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="border-start border-5 border-primary ps-4 mb-5">
					<h6 class="text-body text-uppercase mb-2">Détails
					</h6>
					<h1 class="display-6 mb-0">
						{{ formation.nom }}
					</h1>
				</div>
				<p class="mb-5">
					{{ formation.description }}
				</p>
				<div class="row gy-5 gx-4">
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-calendar fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Date début</h6>
						</div>
						<span>{{ formation.datedebut ? formation.datedebut|date('j F Y') : ''}}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-calendar fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Date fin</h6>
						</div>
						<span>{{ formation.datefin ? formation.datefin|date('j F Y') : ''}}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-credit-card fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Prix</h6>
						</div>
						<span>{{ formation.prix }}
							Dinars</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-user fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Artiste</h6>
						</div>
						<span>{{ formation.artiste.nom }}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Niveau</h6>
						</div>
						<span>{{ formation.niveau }}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-window-restore fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Catégorie</h6>
						</div>
						<span>{{ formation.cat.nom }}</span>
					</div>
				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px">
					<img class="position-absolute w-100 h-100" src="{{ asset('uploads/' ~ formation.image) }}" alt="" style="object-fit: cover"/>


				</div>
				<hr><br>
				<div class="row gy-3">
					<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-star fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Votre avis :</h6>
							<div class="d-flex align-items-center" id="ratingStars">
								{% if existingRating is not null %}
									{% for i in 1..5 %}
										{% if i <= existingRating.ratingValue %}
											<i class="fa fa-star text-warning  {% if ratingDisabled %}disabled{% endif %}" data-value="{{ i }}"></i>
										{% else %}
											<i class="fa fa-star {% if ratingDisabled %}disabled{% endif %}" data-value="{{ i }}"></i>
										{% endif %}
									{% endfor %}
								{% else %}
									{% for i in 1..5 %}
										<i class="fa fa-star" data-value="{{ i }}"></i>
									{% endfor %}
								{% endif %}
							</div>

							{% if not existingRating %}
								<span id="ratingValue" class="ms-3">0</span>
							{% endif %}
						</div>
						{% if existingRating %}
							<h6 class="mb-0">Merci pour votre avis !</h6>
						{% endif %}
					</div>

				</div>

			</div>

		</div>

	</div>
</div></div><!-- Features End --><!-- Testimonial Start --><div class="container-xxl py-5">
<div class="container">
	<div class="row g-5">
		<div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
			<div class="border-start border-5 border-primary ps-4 mb-5">

				<a href="#" id="registerButton" type="button" class="btn btn-primary btn-lg py-2 top-0 end-0 mt-2 me-2" data-bs-toggle="modal">
					S'inscrire
				</a>
			</div>

		</div>

	</div>
	
</div></div>


<!-- Error Modal --><div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="errorModalLabel">Error</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			You are already registered for this formation.
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
		</div>

	</div>
</div></div><!-- Modal --><div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			Etes-vous sûr de vouloir vous inscrire à cette formation ?
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
			<a href="{{ path('app_payment', { 'id': formation.id }) }}" class="btn btn-primary">Inscrire</a>
		</div>
	</div>
</div></div><!-- Modal Rating succes--><div class="modal fade" id="ratingSuccessModal" tabindex="-1" aria-labelledby="ratingSuccessModalLabel" aria-hidden="true">
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="ratingSuccessModalLabel">Rating Success</h5>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			Rating saved successfully!
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="window.location.reload();">OK</button>
		</div>
	</div>
</div></div><script>
			var confirmModal = new bootstrap.Modal(document.getElementById('confirmModal'), {keyboard: false});

			var errorModal = new bootstrap.Modal(document.getElementById('errorModal'), {keyboard: false});

			document.getElementById('registerButton').addEventListener('click', function (event) {
			event.preventDefault();{% if user_already_registered %}errorModal.show();
			{% else %}confirmModal.show();{% endif %}
			});
			
			document.querySelectorAll('#ratingStars .fa-star').forEach(function (star) {
			star.addEventListener('click', function () {
			const ratingValue = this.getAttribute('data-value');

			document.querySelectorAll('#ratingStars .fa-star').forEach(function (star) {
			if (star.getAttribute('data-value') <= ratingValue) {
			star.classList.add('text-warning');
			} else {
			star.classList.remove('text-warning');
			}
			});
			document.getElementById('ratingValue').textContent = ratingValue;
			console.log(ratingValue);
			const formationId = window.location.pathname.split('/').pop();
			// Envoi de la note au backend
			fetch(`/rating/${formationId}?ratingValue=${ratingValue}`, {
			method: 'POST',
			headers: {
			'Content-Type': 'application/json'
			}
			}).then(response => {
			if (!response.ok) {
			throw new Error('Failed to submit rating');
			}
			console.log('Rating submitted successfully');
			$('#ratingSuccessModal').modal('show'); // Show the success modal
			}).catch(error => {
			console.error('Error submitting rating:', error.message);
			});
			});
			});</script>{% endblock %}
