{% extends 'base.html.twig' %}

{% block title %}Features
{% endblock %}

{% block body %}
	<!-- Navbar Start -->
	<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
		<a href="index.html" class="navbar-brand d-flex align-items-center">
			<img style="width:100px;height:100px" src="{{asset('img/logo.png' )}}"></img>
	</a>
	<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<div class="navbar-nav ms-auto py-3 py-lg-0">
			<a href="{{path('main')}}" class="nav-item nav-link ">Home</a>
			<a href="{{path('about')}}" class="nav-item nav-link">About Us</a>
			<a href="{{path('services')}}" class="nav-item nav-link active">Nos formations</a>
			<div class="nav-item dropdown">
				<a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Pages</a>
				<div class="dropdown-menu bg-light m-0">
					<a href="{{path('features')}}" class="dropdown-item ">Features</a>
					<a href="{{path('appointment')}}" class="dropdown-item">Appointment</a>
					<a href="{{path('team')}}" class="dropdown-item">Our Team</a>
					<a href="{{path('testimonial')}}" class="dropdown-item">Testimonial</a>
					<a href="{{path('404page')}}" class="dropdown-item">404 Page</a>
				</div>
			</div>
			<a href="{{path('contact')}}" class="nav-item nav-link">Contact Us</a>
		</div>
	</div>
</nav>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container text-center py-5">
		<h1 class="display-4 text-white animated slideInDown mb-4">Détails formation</h1>

	</div>
</div>
<!-- Page Header End -->

<!-- Features Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5">
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="border-start border-5 border-primary ps-4 mb-5">
					<h6 class="text-body text-uppercase mb-2">Détails
					</h6>
					<h1 class="display-6 mb-0">
						{{ formation.nom }}
					</h1>
				</div>
				<p class="mb-5">
					{{ formation.description }}
				</p>
				<div class="row gy-5 gx-4">
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-calendar fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Date début</h6>
						</div>
						<span>{{ formation.datedebut ? formation.datedebut|date('j F Y') : ''}}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-calendar fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Date fin</h6>
						</div>
						<span>{{ formation.datefin ? formation.datefin|date('j F Y') : ''}}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-credit-card fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Prix</h6>
						</div>
						<span>{{ formation.prix }}
							Dinars</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-user fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Artiste</h6>
						</div>
						<span>{{ formation.artiste.nom }}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-check fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Niveau</h6>
						</div>
						<span>{{ formation.niveau }}</span>
					</div>
					<div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
						<div class="d-flex align-items-center mb-3">
							<i class="fa fa-window-restore fa-2x text-primary flex-shrink-0 me-3"></i>
							<h6 class="mb-0">Catégorie</h6>
						</div>
						<span>{{ formation.cat.nom }}</span>
					</div>
				</div>
			</div>
			<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="position-relative overflow-hidden ps-5 pt-5 h-100" style="min-height: 400px">
					<img class="position-absolute w-100 h-100" src="{{ asset('uploads/' ~ formation.image) }}" alt="" style="object-fit: cover"/>


				</div>

			</div>
			<a href="" type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
				SigInscrirenUp
			</a>
		</div>
	</div>
</div></div></div><!-- Features End --><!-- Testimonial Start --><div class="container-xxl py-5"><div class="container">
<div class="row g-5">
	<div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
		<div class="border-start border-5 border-primary ps-4 mb-5">

			<a href="{{ path('app_inscription', {'id': formation.id}) }}" type="button" class="btn btn-primary btn-lg py-2 top-0 end-0 mt-2 me-2 ">
				S'inscrire
			</a>
		</div>

	</div>
</div></div></div><!-- Testimonial End -->{% endblock %}
