{% extends 'admin-dash.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdC</th>
                <td>{{ commentaire.idC }}</td>
            </tr>
            <tr>
                <th>Contenuc</th>
                <td>{{ commentaire.contenuc }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_index') }}">back to list</a>

    <a href="{{ path('app_commentaire_edit', {'idC': commentaire.idC}) }}">edit</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
