{% extends 'base.html.twig' %}

{% block title %}Concours index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .fa-star.disabled {
            color: lightgray; /* Or any other disabled style you prefer */
            pointer-events: none; /* Prevents clicks on the stars */
        }
    </style>
{% endblock %}

{% block body %}


<div class="container">
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container text-center py-5">
		<h1 class="display-4 text-white animated slideInDown mb-4">Concours</h1>

	</div>
</div>

    <form action="{{ path('app_concoursfront_index') }}" method="GET">
        <div class="mb-3">
            <label for="query" class="form-label">Search:</label>
            <input type="text" class="form-control bg-transparent w-100 py-3 ps-4 pe-5" id="query" name="query" placeholder="Rcherche..">
        </div>
        <button type="submit" class="btn btn-primary">Recherche</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date</th>
                <th>Type</th>
                <th>Prix</th>
                <th>Lien</th>
                <th>Nombre des participants</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for concour in concours %}
            <tr>
                <td>{{ concour.nom }}</td>
                <td>{{ concour.date ? concour.date|date('Y-m-d') : '' }}</td>
                <td>{{ concour.type }}</td>
                <td>{{ concour.prix }}</td>
                <td>{{ concour.lien }}</td>
                <td class="participant-count {{ concour.Nparticipant <= concour.Maxparticipant ? 'full' : '' }}">
                    {{ concour.Nparticipant }} / {{ concour.Maxparticipant }}
                </td>
                <td>
                    <a href="{{ path('app_concoursfront_participate', {'refrence': concour.refrence}) }}" class="btn btn-primary">Participer</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Pas de concour pour le moment</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Pagination (if needed) #}

</div>
{% endblock %}
