{% extends 'artiste-dash.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Candidature</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID Candidature</th>
                <td>{{ candidature.idCandidature }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ candidature.date ? candidature.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ID Concours</th>
                <td>{{ candidature.idConcours.refrence }}</td>
            </tr>
            <tr>
                <th>ID User</th>
                <td>{{ candidature.idUser.getId() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_candidature_index') }}" class="btn btn-secondary">Retour à la liste</a>
    

    {{ include('candidature/_delete_form.html.twig') }}
{% endblock %}
