{# templates/user/PassUpdate.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card mt-5">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="{{ asset('img/logo.png') }}" alt="Logo" class="img-fluid w-50">
                    </div>
                    <h2 class="text-center mb-4">Changer le mot de passe</h2>

                    {{ form_start(form) }}

                    <div class="form-group">
                        <label for="pass1" class="sr-only">Nouveau mot de passe</label>
                        {{ form_widget(form.pass1, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe', 'id': 'pass1'}}) }}
                    </div>

                    <div class="form-group">
                        <label for="pass2" class="sr-only">Confirmer le nouveau mot de passe</label>
                        {{ form_widget(form.pass2, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le nouveau mot de passe', 'id': 'pass2'}}) }}
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
                    </div>

                    {{ form_end(form) }}

                    {% for flash_message in app.flashes('error') %}
                    <div class="alert alert-danger mt-3">{{ flash_message }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}