{# templates/user/register.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>
        /* Custom CSS for register form */
        .card {
            margin-top: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .card-body {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 10px;
        }

        .card-title {
            font-size: 24px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        /* Remove form field borders */
        .form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #ced4da; /* Add bottom border for separation */
            padding-left: 30px; /* Adjust padding for icon */
        }
    </style>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
				<a href="{{path('main')}}" class="navbar-brand d-flex align-items-center">
					<img style="width:100px;height:100px" src="{{asset('img/logo.png' )}}"></img>
			</a>
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav ms-auto py-3 py-lg-0">
					<a href="{{path('main')}}" class="nav-item nav-link ">Accueil</a>
					<a href="{{path('about')}}" class="nav-item nav-link">A propos</a>
					<a href="{{path('services')}}" class="nav-item nav-link">Nos formations</a>
					<div class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
						<div class="dropdown-menu bg-light m-0">
							<a href="{{path('features')}}" class="dropdown-item">Features</a>
							<a href="{{path('appointment')}}" class="dropdown-item">Appointment</a>
							<a href="{{path('team')}}" class="dropdown-item">Our Team</a>
							<a href="{{path('testimonial')}}" class="dropdown-item">Testimonial</a>
							<a href="{{path('404page')}}" class="dropdown-item">404 Page</a>
					
						</div>
					</div>
					<a href="{{path('contact')}}" class="nav-item nav-link">Contact Us</a>
							  {% if app.user %}
 {% if 'ROLE_ARTISTE' in app.user.roles %}
        <a href="{{ path('artisteDashboard', {'id': app.user.id}) }}" class="nav-item nav-link">Dashboard</a>
    {% elseif 'ROLE_ADMIN' in app.user.roles %}
        <a href="{{ path('adminDashboard') }}" class="nav-item nav-link">Dashboard</a>
    {% endif %}
              {#   <a href="{{path('artisteDashboard', {'id': app.user.id})}}" class="nav-item nav-link">Dashboard</a> #}
                <a href="{{ path('app_logout') }}" class="nav-item nav-link">Logout</a>
            {% else %}
                <a href="{{ path('app_registerr') }}" class="nav-item nav-link active">Register</a>
                <a href="{{ path('app_login') }}" class="nav-item nav-link ">Login</a>
            {% endif %}
				</div>
			</div>
		</body>
	</html>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Register</h1>
                </div>
                <div class="card-body">
                    {% set flashBag = app.session.flashbag %}
                    {% if flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for message in flashBag.get('success') %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if flashBag.has('error') %}
                        <div class="alert alert-danger" role="alert">
                            {% for flashMessage in flashBag.get('error') %}
                                {{ flashMessage }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_start(registration_form) }}
                    <div class="form-group">
                        {{ form_row(registration_form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prenom'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.mdp, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(registration_form.roles) }}
                        {{ form_widget(registration_form.roles) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.tel, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.image, {'attr': {'class': 'form-control-file'}}) }}
                    </div>
                   

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    {{ form_end(registration_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


