{# templates/user/register.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <style>
        /* Custom CSS for register form */
        .card {
            margin-top: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        .card-body {
            padding-left: 30px;
            padding-right: 30px;
            padding-bottom: 10px;
        }

        .card-title {
            font-size: 24px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        /* Remove form field borders */
        .form-control {
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #ced4da; /* Add bottom border for separation */
            padding-left: 30px; /* Adjust padding for icon */
        }
    </style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title text-center">Register</h1>
                </div>
                <div class="card-body">
                    {% set flashBag = app.session.flashbag %}
                    {% if flashBag.has('success') %}
                        <div class="alert alert-success" role="alert">
                            {% for message in flashBag.get('success') %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if flashBag.has('error') %}
                        <div class="alert alert-danger" role="alert">
                            {% for flashMessage in flashBag.get('error') %}
                                {{ flashMessage }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_start(registration_form) }}
                    <div class="form-group">
                        {{ form_row(registration_form.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prenom'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.mdp, {'attr': {'class': 'form-control', 'placeholder': 'Password','type':'password'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(registration_form.roles) }}
                        {{ form_widget(registration_form.roles) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.tel, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(registration_form.image, {'attr': {'class': 'form-control-file'}}) }}
                    </div>
                   

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    {{ form_end(registration_form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


