{# templates/user/updateAdmin.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form_start(registration_form) }}
        {{ form_row(registration_form.nom) }}
        {{ form_row(registration_form.prenom) }}
        {{ form_row(registration_form.email) }}
        {{ form_row(registration_form.mdp) }}
        {{ form_row(registration_form.role) }}
        {{ form_row(registration_form.tel) }}
        {{ form_row(registration_form.image) }}
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(registration_form) }}

    {# Réactiver button #}
    <hr>
    {% if  user.isBlocked %}
        <form action="{{ path('reactivate_user', {'id': user.id}) }}" method="post">
            <button type="submit" class="btn btn-success">Réactiver</button>
        </form>
    {% endif %}
{% endblock %}
